@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --parth-pink: #E91E63;
    --parth-gold: #D4AF37;
    --parth-bg: #FFD6CC;
  }
  body {
    @apply font-sans antialiased;
  }

  h1, h2, h3, h4 {
    @apply font-serif tracking-tighter;
  }
}

@layer utilities {
  .text-stroke-gold {
    -webkit-text-stroke: 1px var(--parth-gold);
  }
}